.garland {
  position: absolute;
  width: 100%;
  height: 640px;
  z-index: 1;
  pointer-events: none;
}

.lightrope {
  position: absolute;
  width: auto;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.lightrope.lightrope-0 {
  top: 15%;
}

.lightrope.lightrope-1 {
  top: 30%;
}

.lightrope.lightrope-2 {
  top: 45%;
}

.lightrope.lightrope-3 {
  top: 60%;
}

.lightrope.lightrope-4 {
  top: 75%;
  width: 340px;
}

.lightrope li {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 2px;
  border-radius: 50%;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  background: transparent;
  box-shadow: none;
  animation-duration: 2s;
}

.lightrope.lightrope-0 li:nth-child(3) {
  top: 40%;
}

.lightrope.lightrope-0 li:nth-child(2n) {
  top: 30%;
}

.lightrope.lightrope-1 li:nth-child(5) {
  top: 45%;
}

.lightrope.lightrope-1 li:nth-child(4),
.lightrope.lightrope-1 li:nth-child(6) {
  top: 35%;
}

.lightrope.lightrope-1 li:nth-child(3),
.lightrope.lightrope-1 li:nth-child(7) {
  top: 20%;
}

.lightrope.lightrope-2 li:nth-child(7) {
  top: 60%;
}

.lightrope.lightrope-2 li:nth-child(6),
.lightrope.lightrope-2 li:nth-child(8) {
  top: 53%;
}

.lightrope.lightrope-2 li:nth-child(5),
.lightrope.lightrope-2 li:nth-child(9) {
  top: 40%;
}

.lightrope.lightrope-2 li:nth-child(4),
.lightrope.lightrope-2 li:nth-child(10) {
  top: 30%;
}

.lightrope.lightrope-2 li:nth-child(3),
.lightrope.lightrope-2 li:nth-child(11) {
  top: 20%;
}

.lightrope.lightrope-2 li:nth-child(2),
.lightrope.lightrope-2 li:nth-child(12) {
  top: 20%;
}

.lightrope.lightrope-3 li:nth-child(9) {
  top: 60%;
}

.lightrope.lightrope-3 li:nth-child(8),
.lightrope.lightrope-3 li:nth-child(10) {
  top: 53%;
}

.lightrope.lightrope-3 li:nth-child(7),
.lightrope.lightrope-3 li:nth-child(11) {
  top: 40%;
}

.lightrope.lightrope-3 li:nth-child(6),
.lightrope.lightrope-3 li:nth-child(12) {
  top: 30%;
}

.lightrope.lightrope-3 li:nth-child(5),
.lightrope.lightrope-3 li:nth-child(13) {
  top: 20%;
}

.lightrope.lightrope-3 li:nth-child(4),
.lightrope.lightrope-3 li:nth-child(14) {
  top: 10%;
}

.lightrope.lightrope-3 li:nth-child(3),
.lightrope.lightrope-3 li:nth-child(15) {
  top: 1%;
}

.lightrope.lightrope-3 li:nth-child(2),
.lightrope.lightrope-3 li:nth-child(16) {
  top: 1%;
}

.lightrope.lightrope-3 li:nth-child(1),
.lightrope.lightrope-3 li:nth-child(17) {
  top: -10%;
}

.lightrope.lightrope-4 li:nth-child(11) {
  top: 70%;
}

.lightrope.lightrope-4 li:nth-child(10),
.lightrope.lightrope-4 li:nth-child(12) {
  top: 63%;
}

.lightrope.lightrope-4 li:nth-child(9),
.lightrope.lightrope-4 li:nth-child(13) {
  top: 50%;
}

.lightrope.lightrope-4 li:nth-child(8),
.lightrope.lightrope-4 li:nth-child(14) {
  top: 40%;
}

.lightrope.lightrope-4 li:nth-child(7),
.lightrope.lightrope-4 li:nth-child(15) {
  top: 30%;
}

.lightrope.lightrope-4 li:nth-child(6),
.lightrope.lightrope-4 li:nth-child(16) {
  top: 20%;
}

.lightrope.lightrope-4 li:nth-child(5),
.lightrope.lightrope-4 li:nth-child(17) {
  top: 10%;
}

.lightrope.lightrope-4 li:nth-child(4),
.lightrope.lightrope-4 li:nth-child(18) {
  top: 0%;
}

.lightrope.lightrope-4 li:nth-child(3),
.lightrope.lightrope-4 li:nth-child(19) {
  top: -10%;
}

.lightrope.lightrope-4 li:nth-child(2),
.lightrope.lightrope-4 li:nth-child(20) {
  top: -10%;
}

.lightrope.lightrope-4 li:nth-child(1),
.lightrope.lightrope-4 li:nth-child(21) {
  top: -20%;
}

.lightrope li:nth-child(2n+1) {
  background: transparent;
  box-shadow: none;
  animation-duration: 0.4s;
}

.lightrope li:nth-child(4n+2) {
  background: transparent;
  box-shadow: none;
  animation-duration: 1.1s;
}

.lightrope li:nth-child(odd) {
  animation-duration: 1.8s;
}

.lightrope li:nth-child(3n+1) {
  animation-duration: 1.4s;
}

@keyframes multicolor-0 {
  0%, 100% {
    background: #ebf700;
    box-shadow: 0px 4.66667px 24px 3px #e3f700;
  }
  50% {
    background: rgba(177, 247, 0, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(194, 247, 0, 0.2);
  }
}

@keyframes multicolor-1 {
  0%, 100% {
    background: rgb(26, 255, 0);
    box-shadow: 0px 4.66667px 24px 3px rgb(0, 255, 166);
  }
  50% {
    background: rgba(0, 255, 166, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 123, 0.249);
  }
}

@keyframes multicolor-2 {
  0%, 100% {
    background: #f70094;
    box-shadow: 0px 4.66667px 24px 3px #f70094;
  }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 148, 0.2);
  }
}

@keyframes red-0 {
  0%, 100% {
    background: #f70000;
    box-shadow: 0px 4.66667px 24px 3px #f70000;
  }
  50% {
    background: rgba(247, 0, 0, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 0, 0.2);
  }
}

@keyframes red-1 {
  0%, 100% {
    background: #d50a30;
    box-shadow: 0px 4.66667px 24px 3px #d50a30;
  }
  50% {
    background: rgba(255, 0, 38, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(255, 0, 38, 0.2);
  }
}

@keyframes red-2 {
  0%, 100% {
    background: #ed4b4b;
    box-shadow: 0px 4.66667px 24px 3px #ed4b4b;
  }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 148, 0.2);
  }
}

@keyframes blue-0 {
  0%, 100% {
    background: #00c2f7;
    box-shadow: 0px 4.66667px 24px 3px #00a1f7;
  }
  50% {
    background: rgba(0, 62, 247, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 132, 247, 0.2);
  }
}

@keyframes blue-1 {
  0%, 100% {
    background: #0ab0d5;
    box-shadow: 0px 4.66667px 24px 3px #0ab0d5;
  }
  50% {
    background: rgba(0, 166, 255, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 94, 255, 0.2);
  }
}

@keyframes blue-2 {
  0%, 100% {
    background: #4ba7ed;
    box-shadow: 0px 4.66667px 24px 3px #4bcfed;
  }
  50% {
    background: rgba(0, 243, 247, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 194, 247, 0.2);
  }
}

@keyframes yellow-0 {
  0%, 100% {
    background: #c2f700;
    box-shadow: 0px 4.66667px 24px 3px #f3f700;
  }
  50% {
    background: rgba(177, 247, 0, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(227, 247, 0, 0.2);
  }
}

@keyframes yellow-1 {
  0%, 100% {
    background: #d5d50a;
    box-shadow: 0px 4.66667px 24px 3px #d5ce0a;
  }
  50% {
    background: rgba(242, 255, 0, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(234, 255, 0, 0.2);
  }
}

@keyframes yellow-2 {
  0%, 100% {
    background: #c4ed4b;
    box-shadow: 0px 4.66667px 24px 3px #d2ed4b;
  }
  50% {
    background: rgba(227, 247, 0, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(235, 247, 0, 0.2);
  }
}

@keyframes green-0 {
  0%, 100% {
    background: #00f725;
    box-shadow: 0px 4.66667px 24px 3px #00f731;
  }
  50% {
    background: rgba(0, 247, 99, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 247, 37, 0.2);
  }
}

@keyframes green-1 {
  0%, 100% {
    background: #6fd50a;
    box-shadow: 0px 4.66667px 24px 3px #58d50a;
  }
  50% {
    background: rgba(106, 255, 0, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(106, 255, 0, 0.2);
  }
}

@keyframes green-2 {
  0%, 100% {
    background: #4bed7e;
    box-shadow: 0px 4.66667px 24px 3px #4bed5e;
  }
  50% {
    background: rgba(0, 247, 58, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(33, 247, 0, 0.2);
  }
}